<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
</head>
<body>
<h1></h1>
<h2>Messages by {{name}}</h2>
<form action="/create-message" method="post">
    <input type="text" name="createMessage" placeholder="Enter your message"/>
    <button type="submit">Message</button>
</form>
<br>
<ol>
    {{#message}}
    <li>{{message}}</li>
    {{/message}}
</ol>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
<br>
<br>
<footer>COPYRIGHT 2016 &copy;</footer>
</html>
</html>