<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<h1>Messages by {{name}}</h1>
<h3>Written June 7th 2016.</h3>
<form action="/create-message" method="post">
    <input type="text" name="createMessage" placeholder="Enter your message"/>
    <button type="submit">Message</button>
</form>
<br>
<ul type="square">
    {{#message}}
    <li>{{message}}</li>
    {{/message}}
</ul>
<form action="/logout" method="post">
    <button type="submit">Logout</button>
</form>
</body>
<br>
<br>
<footer>COPYRIGHT 2016 &copy;</footer>
</html>
</html>