<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<form action="/logout" method="post" style="float: right">
    <button type="submit">Logout</button>
</form>
<h1>Message(s) by {{name}}:</h1>
<p id="demo"></p>
<script>
    document.getElementById("demo").innerHTML = Date();
</script>
<form action="/create-message" method="post">
    <input type="text" name="createMessage" placeholder="Enter your message"/>
    <button type="submit">Submit</button>
</form>
<br>

<ol>
    {{#message}}
    <form action="/delete-message" method="post">
    <li>
        {{message}}
        <input type="hidden" name="id" value="{{id}}"/>
        <button type="submit">Delete Message</button>
    </li>
    </form>
    {{/message}}
</ol>
<!-- <form action="/delete-message" method="post">
    <input type="number" name="id" placeholder="#">
    <button type="submit">Delete Message</button>
</form> -->
<br>
<form action="/edit-message" method="post">
    <input type="number" name="num" placeholder="#"/>
    <input type="text" name="edit" placeholder="Edit your message" size="60"/>
    <button type="submit">Edit Message</button>
</form>
<br>
</body>
<br>
<br>
<footer>COPYRIGHT 2016 &copy;</footer>
</html>
</html>